---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import NewsList from "@components/NewsList.astro";
---

<Layout title="Esittely">
  <Hero class="h-[300px] bg-slate-500" />
  <NewsList class="" />
  <main>
    <h1>Esittely</h1>
    <p>Se mitä täällä esitellään, on mysteeri.</p>
  </main>
</Layout>
