---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import NewsList from "@components/NewsList.astro";
---

<Layout title="Engineering Den">
  <Hero class="h-[300px] bg-slate-500" />
  <NewsList class="" />
  <main>
    <h1>Tervetuloa Engineering Den sivustolle</h1>
    <p>
      Oli mies ja unelma. Täällä se toteutuu. Juhon kanssa valmistelemme maailmanvalloituksen. Ole kuulolla. Olemme täysin uskottava vaihtoehto kaikelle. Et tule tarvitsemaan mitään muuta. Jos haluat lisätietoja, jatka syvemmälle jäniksenkoloon.
    </p>
  </main>
</Layout>
