---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import NewsList from "@components/NewsList.astro";
---

<Layout title="Engineering Den">
  <Hero class="h-[300px] bg-slate-500" />
  <NewsList class="" />
  <main>
    <h1 class="text-lg fill-orange-600 font-bold px-4">
      Tervetuloa Engineering Den sivustolle
    </h1>
    <p>
      Täältä löytyy vaikka mitä mielenkiintoista. da asd dsad asd a asdasdsadd
    </p>
  </main>
</Layout>
