---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import NewsList from "@components/NewsList.astro";
---

<Layout title="Ota yhteyttä">
  <Hero class="h-[300px] bg-slate-500" />
  <NewsList class="" />
  <main>
    <h1>Ota yhteyttä meihin</h1>
    <p>Täällä voisi olla jonkinlainen lomake, joka kerää tiedot talteen.</p>
  </main>
</Layout>
