---
import logo from "@assets/logo.png";

export interface Props {
  class: string;
}

const { class: className } = Astro.props;
---
<style>
  a {
    @apply text-gray-700 underline
  }
</style>

<footer class:list={[className]} id="master-footer">
  <div
    class="container mx-auto p-6 gap-4 grid text-sm sm:grid-cols-3 sm:text-left text-gray-700 content-center text-center items-center"
  >
    <aside>
      <a href="/"
        ><img
          src={logo.src}
          class="w-[100px] inline-block sm:w-[160px]"
          alt="Engineering Den"
        />
      </a>
    </aside>
    <aside>
      <p>
        Mannerheimintie 5000<br />00100 Helsinki<br />PL 20000<br /><a
          href="https://lahtela.com">www.lahtela.com</a
        >
      </p>
    </aside>
    <aside>
      <ul>
        <li><a href="/">Etusivu</a></li>
        <li><a href="/esittely">Esittely</a></li>
        <li><a href="/tapahtumat">Tapahtumat</a></li>
        <li><a href="/yhteystiedot">Yhteystiedot</a></li>
      </ul>
    </aside>
  </div>
</footer>
