---
import logo from "@assets/logo.png";

export interface Props {
  class: string;
}

const { class: className } = Astro.props;
---

<div class:list={[className]}>
  <a href="/"><img src={logo} alt="Engineering Den" /></a>
</div>
