---
export interface Props {
	class: string;
}

const { class: className } = Astro.props;
---
<div
  class:list={[
    className
    //'flex flex-col p-4 bg-primary-100 text-primary-900 rounded-md'
]}
>
    <img src="/src/assets/logo.png" />
</div>