---
export interface Props {
  class: string;
}

const { class: className } = Astro.props;
const posts = await Astro.glob("/src/pages/ajankohtaista/*.md");
---

<section class:list={[className]}>
  <h2>Ajankohtaiset asiat</h2>
  {
    posts.slice(0, 3).map((post) => (
      <article>
        <h3>{post.frontmatter.title}</h3>
        <p>{post.frontmatter.description}</p>
        <a href={post.url}>Lue lisää</a>
      </article>
    ))
  }
</section>
