---
export interface Props {
  class: string;
}

const { class: className } = Astro.props;
const posts = await Astro.glob("/src/pages/ajankohtaista/*.md");
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---
<style>
  article {
    @apply p-3 grid grid-flow-row gap-3;
  }
  h2 {
    @apply text-2xl font-bold;
  }

</style>

<section class:list={[className]}>
  {
    posts.slice(0).map((post) => (
      <article>
        <p>{post.frontmatter.date}</p>
        <h3>{post.frontmatter.title}</h3>
        <p>{post.frontmatter.description}</p>
        <a href={post.url}>Lue lisää</a>
      </article>
    ))
  }
</section>
