---
import Layout from "@layouts/Layout.astro";
import NewsList from "@components/NewsList.astro";
---

<Layout title="Ajankohtaista">
  <main>
    <h1>Ajankohtaista</h1>
    <NewsList class="" />

    <p>Täältä löydät kaikki ajankohtaiset uutiset.</p>
  </main>
</Layout>
