---
import Layout from "@layouts/Layout.astro";
import NewsList from "@components/NewsList.astro";
---

<Layout title="Ajankohtaista">
  <main>
    <h1>Ajankohtaista</h1>
    <NewsList class="" />

    <p class="instructions">
      Check out the <code>src/pages</code> directory to get started.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
</Layout>
