---
import Layout from "@layouts/Layout.astro";
import NewsListLong from "@components/NewsListLong.astro";
---

<Layout title="Ajankohtaista">
  <main>
    <h1>Ajankohtaista</h1>
    <p>Täältä löydät kaikki ajankohtaiset uutiset.</p>
    <NewsListLong class="" />
  </main>
</Layout>
